@import '../../../main-styles.scss';

.budget-items-section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;

  .budget-items-container {
    display: flex;

    max-width: 680px;
    height: 100%;
    width: 100%;

    .income-column, .expenses-column {
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;

      h3 {
        font-family: 'Lato';
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
      }

      .budget-items {
        display: flex;
        flex-direction: column;
      }
    }

    .income-column {
      margin-right: 35px;

      h3 {
        color: $green;
      }
    }

    .expenses-column {
      h3 {
        color: $red;
      }
    }
  }
}
